body{
  background-color: #2C133A;
}

input[type=text]{
  position: absolute;
  width: 260px;
  height: 38px;
  left: 809px;
  top: 424px;
  background: #FFFFFF;
  box-shadow: 0px 6px 4px rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

input[type=password]{
  position: absolute;
  width: 260px;
  height: 38px;
  left: 809px;
  top: 474px;
  background: #FFFFFF;
  box-shadow: 0px 6px 4px rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

button#loginFormButton{
  position: absolute;
  width: 148px;
  height: 28px;
  left: 873px;
  top: 548px;
  background: #8A00FF;
  box-shadow: 0px 6px 4px rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

span{
  position: absolute;
  width: 104px;
  height: 12px;
  left: 746px;
  top: 524px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */


  color: #FFFFFF;
}

svg{
  position: absolute;
  width: 512px;
  height: 512px;
  left: 464px;
  top: 0px;
}