
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>AtomV</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <link rel="stylesheet" href="/css/components/main.css">
    </head>

    <body>
        <img class="AtomV" src="AtomV.png" alt="AtomV">
                
        <div class='menu'>
            <div class='navbar'>
                <ul>
                    <li><a href="#">Dima  <img class="user" src="user.png" alt="userImg"></a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
        <div class='Bars'>
            <div class='left'>
                <div class="bar"></div>
                <p class='Persent'>0</p>
                <p class='Memory'>Memory</p>
            </div>
            <div class="center">
                <p class='Num'>0</p>
                <p class='Tasks'>Tasks</p>
            </div>
            <div class="right">
                <div class="bar"></div>
                <p class='Persent'>0</p>
                <p class='CPU'>CPU</p>
            </div>
        </div>
        <div class="add">
            <a href="#">
                <div class='image'>
                    <img src="plus.png" alt="plus">
                </div>
                <p class="add_task">Add new Task</p>
            </a>
        </div>
    </body>
</html>