
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>AtomV</title>
        <meta name="description" content="AtomV">
        <meta name="author" content="SitePoint">

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <img class="AtomV" src="AtomV.png" alt="AtomV">
                
        <div class='menu'>
            <div class='navbar'>
                <ul>
                    <li><a href="#">Dima  <img class="user" src="user.png" alt="userImg"></a></li>
                    <li>    
                        <a href="#">Tasks
                            <img class="icons" src="checked.png" alt="plus">
                        </a>
                    </li>
                    <li>
                        <a href="#">FAQ
                            <img class="question" src="question.png" alt="plus">
                        </a>
                    </li>
                    <li>
                        <a href="#">Settings
                            <img class="settings" src="settings.png" alt="plus">
                        </a>
                    </li>
                    <li>
                        <a href="#">Exit
                            <img class="exit" src="exit.png" alt="plus">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="add_task">
            <h2 >Create new task</h2>            
            <div class="wrapper">
                    <button>
                        Print 'Hello World'! 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    </button>
            </div>
            <div class="wrapper_two">
                    <button>
                        Train your network! 
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    </button>
            </div>
        </div>
    </body>
</html>